@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
    --clr: #222327;
}

/* CSS PADRÃO */
.display-flex {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}

.gap-3 {
    gap: 3em;
}

.gap-4 {
    gap: 4em;
}

.gap-5 {
    gap: 5em;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}

.fs1 {
    font-size: 1em;
}

.fs1_5 {
    font-size: 1.5em;
}

.fs2 {
    font-size: 2em;
}

.fs2_5 {
    font-size: 2.5em;
}

.fs3 {
    font-size: 3em;
}

/* CSS DA PAÁGINA */
* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    font-family    : "Poppins", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #6e6e6e60 transparent;
}

/* CSS PARA O SCROLLBAR DO SITE TODO CASO TENHA  */

/* CHROME / EDGE /SAFARI */
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width     : 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6e6e6e60;
}

html {
    width     : 100vw;
    max-width : 100vw;
    overflow-x: hidden !important;
    font-size : 16px;
}

.toTop {
    position: fixed;
    right   : 1.5%;
    bottom  : 1.5%;
    cursor  : pointer;
    z-index : 998;
}

.toTop ion-icon {
    font-size: 55px;
    color    : #555554;
}

.container-fluid {
    width        : 100vw;
    padding-right: .75rem;
    padding-left : .75rem;
    margin-right : auto;
    margin-left  : auto;
}

.navbar {
    position        : fixed;
    display         : flex;
    flex-wrap       : wrap;
    align-items     : center;
    justify-content : space-between;
    padding-top     : .5rem;
    padding-bottom  : .5rem;
    background-color: #ececec;
    box-shadow      : .5px .5px 10px black;
    overflow        : hidden;
    width           : 100vw;
    z-index         : 999;

}

.navbar-brand img {
    max-width    : 40px;
    border-radius: 50%;
}

.navbar .container-fluid {
    position       : relative;
    display        : flex;
    flex-wrap      : inherit;
    align-items    : center;
    justify-content: space-around;
}

.navbar-brand {
    padding-top    : .3125rem;
    padding-bottom : .3125rem;
    margin-right   : 1rem;
    font-size      : 1.25rem;
    text-decoration: none;
    white-space    : nowrap;
}

.navbar-brand a {
    text-decoration: none;
}

.navigation {
    position          : relative;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    /* height         : 10px; */
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    position  : relative;
    list-style: none;
    width     : 70px;
    height    : 70px;
    z-index   : 1;
}

.navigation ul li a {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    width          : 100%;
    text-align     : center;
    font-weight    : 500;
    font-size      : 0.8em;
}

.navigation ul li a .icon {
    position   : relative;
    display    : block;
    line-height: 75px;
    font-size  : 1.3em;
    text-align : center;
    transition : 0.5s;
    color      : var(--clr);
}

.navigation ul li:hover a .icon {
    transform: translateY(-15px);
}

.navigation ul li.active a .icon {
    transform: translateY(-15px);
}

.navigation ul li a .text {
    position      : absolute;
    color         : var(--clr);
    font-weight   : 400;
    letter-spacing: 0.05em;
    transition    : 0.5s;
    opacity       : 0;
    transform     : translateY(20px);
}

.navigation ul li:hover a .text {
    opacity  : 1;
    transform: translateY(10px);
}

.navigation ul li.active a .text {
    opacity  : 1;
    transform: translateY(10px);
}

.section_home {
    height               : 100vh;
    background-image     : url('../imagens/bg1.jpg');
    background-attachment: fixed;
    background-repeat    : no-repeat;
    background-size      : cover;
}

.slogan {
    /* z-index    : 2; */
    position       : absolute;
    margin-top     : 37vh;
    /* margin-left : 40%; */
    color          : #fff;
    /* font-size   : 1.16em; */
    font-weight    : 700;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100vw;
}

.scroll-down {
    position     : absolute;
    left         : 50%;
    bottom       : 70px;
    border       : 2px solid #fff;
    border-radius: 50%;
    height       : 50px;
    width        : 50px;
    margin-left  : -15px;
    display      : block;
    z-index      : 10;
    text-align   : center;
    cursor       : pointer;
}

.scroll-down span {
    position                         : relative;
    color                            : #fff;
    -webkit-animation-name           : drop;
    -webkit-animation-duration       : 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay          : 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state     : running;
    animation-name                   : drop;
    animation-duration               : 1s;
    animation-timing-function        : linear;
    animation-delay                  : 0s;
    animation-iteration-count        : infinite;
    animation-play-state             : running;
    font-size                        : 2em;
}

@keyframes drop {
    0% {
        top    : -3;
        opacity: 0;
    }

    1% {
        top    : -3px;
        opacity: 1;

    }

    30% {
        top    : 10px;
        opacity: 1;
    }

    100% {
        top    : 30px;
        opacity: 0;
    }
}


.typewriter span {
    overflow   : hidden;
    margin     : 0 auto;
    display    : inline-block;
    font-weight: 800;
    font-size  : 2.5em;
}

.typewriter span:after {
    content         : '';
    display         : inline-block;
    background-color: white;
    margin-left     : 2px;
    height          : 37px;
    width           : 4px;
    animation       : cursor 0.5s infinite;
}

/* The typewriter cursor effect */
@keyframes cursor {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}

.btn-rede-social {
    width           : 250px;
    height          : 45px;
    background-color: rgb(130, 130, 173);
    border-radius   : 50px;
    text-decoration : none;
    color           : #fff;
}

.btn-rede-social:hover {
    transform     : scale(1.1);
    transition    : ease-in-out 0.3s;
    letter-spacing: 5px;
}

.section {
    background-color: rgb(255, 255, 255);
    width           : 100%;
}

.section2 {
    background-color: rgb(190, 204, 223);
    width           : 100%;
}

.section-titulo {
    font-size      : 1.3em;
    text-transform : uppercase;
    letter-spacing : 1px;
    text-decoration: overline;
    color          : #555554;
}

.card-foto {
    width            : 200px;
    height           : 270px;
    background-repeat: no-repeat;
    background-size  : cover;
    border-radius    : 20px;
    box-shadow       : 0.5px 0.5px 10px black;
}

.card-descricao {
    background-color: transparent;
    position        : absolute;
    min-width       : 200px;
    max-width       : 200px;
    min-height      : 270px;
    max-height      : 270px;
    display         : none;
    font-weight     : 600;
    background-color: #00000030;
    color           : rgb(255, 255, 255);
    border-radius   : 20px;
    padding         : 10px;
    overflow        : hidden;
    overflow-y      : scroll;
    cursor          : default;
    letter-spacing  : 2px;
    scrollbar-width : none;
    font-size       : 0.7em;
}

.card-descricao::-webkit-scrollbar {
    display: none;
}

.card-descricao p {
    margin-bottom: 1rem;
}

.card:hover .card-foto {
    filter   : blur(10px);
    transform: scale(1.04);
}

.card:hover .card-descricao {
    transform       : scale(1.04);
    display         : inline;
    background-color: #22232770;
}

.card-rodape {
    font-size  : 1.2em;
    font-weight: 600;
    margin-top : 0.3125rem;
}

.card-cursos-foto {
    width            : 300px;
    height           : 200px;
    background-repeat: no-repeat;
    background-size  : cover;
    border-radius    : 20px;
    box-shadow       : 0.5px 0.5px 10px black;
}

.card-cursos:hover .card-cursos-foto {
    transform : scale(1.1);
    box-shadow: 0px 0px 10px black;
}

@media only screen and (max-width: 600px) {
    .card-cursos-foto {
        width : 300px;
        height: 200px;
    }

    .card-cursos:hover .card-cursos-foto {
        transform: scale(1.2);
    }
}


.card-projeto {
    background-color: #dce1f1;
    height          : 150px;
    width           : 250px;
    border-radius   : 20px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;
    overflow        : hidden;
}

.card-projeto .card-projeto-descricao {
    position          : absolute;
    /* backdrop-filter: blur(3px); */
    height            : 150px;
    width             : 270px;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    text-align        : center;
    border-radius     : 20px;
    display           : none;
    font-weight       : 800;
    text-decoration   : none;
    color             : #fff;
    background-color  : rgb(130, 130, 173, 0.6);
    ;
}

.card-projeto.ativo:hover .card-projeto-descricao {
    /* transform: scale(1.1); */
    display       : flex;
    transition    : ease-in-out 0.3s;
    letter-spacing: 5px;
}

.card-projeto .faixa {
    background-color: #7083a7;
    width           : 1000px;
    text-align      : center;
    padding         : 5% 0;
    transform       : rotate(-50deg);
}

.card-projeto .faixa p {
    font-family: 'Fira Sans', sans-serif;
    font-size  : 20px;
    color      : #fff;
    font-weight: 700;
}

.card-projeto:hover .faixa p {
    letter-spacing: 4px;
    transition    : ease-in-out 0.3s;
}

.img-mario {
    border-bottom: 45px solid rgb(64, 163, 73);
    width        : 500px;
    height       : 100%;
}

.img-mario img {
    position   : absolute;
    padding-top: 15px;
    margin-left: 70px;
}

.btn-vermais {
    width           : 250px;
    height          : 45px;
    background-color: rgb(130, 130, 173);
    border-radius   : 50px;
    text-decoration : none;
    color           : #fff;
    border          : none;
    font-weight     : 600;
    font-size       : 15px;
    cursor          : pointer;
}

.btn-vermais:hover {
    transform     : scale(1.1);
    transition    : ease-in-out 0.3s;
    letter-spacing: 5px;
}


.footer {
    background-color: rgba(1, 46, 62, 1);
    min-height      : 300px;
}

.footer2 {
    background-color: rgba(1, 46, 62, 1);
    padding-bottom  : 20px;
    color           : #fff;
    font-size       : 0.8em;
}

.footer2 {
    text-align: center;
}

.footer-titulo {
    font-size      : 1.3em;
    text-transform : uppercase;
    letter-spacing : 1px;
    text-decoration: overline;
    color          : #fff;
}

.footer-subtitulo {
    font-size      : 1.2em;
    text-transform : uppercase;
    letter-spacing : 1px;
    text-decoration: overline;
    color          : #fff;
    padding-bottom : 10px;
}

.medias-sociais {
    font-size: 1.2em;
}

.medias-sociais a {
    color: #fff;
}

.medias-sociais ion-icon:hover {
    transform: scale(1.3);
}

.nav-footer ul {
    list-style: none;
    font-size : 0.8em;
}

.nav-footer ul li:hover {
    transform: scale(1.1);
}

.nav-footer a {
    text-decoration: none;
    color          : #fff;
}